<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="Music Source Separation">
  <meta name="keywords" content="Umix, Demix">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Music Source Separation</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PYVRSFMDRL"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PYVRSFMDRL');
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="static/css/bulma.min.css">
  <link rel="stylesheet" href="static/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="static/css/bulma-slider.min.css">
  <link rel="stylesheet" href="static/css/fontawesome.all.min.css">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="icon" href="/static/images/disc.png">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="static/js/fontawesome.all.min.js"></script>
  <script src="static/js/bulma-carousel.min.js"></script>
  <script src="static/js/bulma-slider.min.js"></script>
  <!-- <script src="/static/js/index.js"></script> -->
  <!-- <script src="static/js/custom.js"></script> -->

  <!-- css for demo section -->
  <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <a class="navbar-item" href="./">
      <span class="icon">
          <i class="fas fa-home"></i>
      </span>
      </a>
    </div> 

  </div>
</nav>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <img id="teaser" height="100%" src="./static/images/source_separation_io.png">
        <!-- <source src="./static/videos/teaser.mp4"
                type="video/mp4"> -->
      </img>
      <h2 class="subtitle has-text-centered">
        <span class="dnerf" style="font-size: 28px;">Demix your mixture into 4 stems (Vocals, Drums, Bass, Other)
      </h2>
    </div>
  </div>
</section>

<!-- <div id="input-bar" class="container is-max-desktop"> -->
  <!-- <input type="url" id="url-input" name="url" pattern="https://.*"  required placeholder="Enter an URL for source separation">
  <button type="submit" id="submitBtn" class="btn btn-primary">
    <i class="fa fa-play-circle"></i>
  </button>
</div> -->

<!-- <div class="message"></div>
<div class="loader-container hidden">
  <div class="loader"></div>
  <h1 style="text-align: center; margin-top: 10px;"> Keep waiting! <br/> The process can takes several minutes ... </h1> 
</div> -->

<!-- <div class="result-container">
  <div style="width: 100%;display: flex;justify-content: center;">
    <div class="audio-container" style="margin: 2em 0;">
      <div class="buttons" style="justify-content: space-around;">
        <span class="play-btn btn play">
          <i class="fas fa-play"></i>
          <i class="fas fa-pause"></i>
        </span>
        
        <span class="backward-btn btn backward">
          <i class="fas fa-backward" ></i>
        </span>
        <span class="forward-btn btn forward">
          <i class="fas fa-forward" ></i>
        </span>
        <span class="mute-btn btn" data-track-id="-1">
          <i class="fas fa-volume-up"></i>
          <i class="fas fa-volume-mute"></i>
        </span>
        <input
            type="range"
            min="0"
            max="1"
            step="0.1"
            value="0.5"
            class="volume-slider"
            data-track-id="-1"
          />
      </div>
    </div>
  </div>
  <div class="label-container">
    <span class="dnerf">Mixture Input</span>
    <span class="dnerf">Multitrack Output</span>
  </div>
  <div class="player-container" style="display: flex; margin-bottom: 100px;">
    <video class="video-player" width="640" height="360" controls muted>
      <source src="static/videos/cut_G5ERdrjBe40.mp4" type="video/mp4">
    </video>
    <div class="multitrack-container">
      <div class="multitrack-ctl"></div>
      <div id="multitrack" class="multitrack"></div>
    </div>
  </div>
</div>  -->

<div id="containers"></div>





<!-- <div class="result-container">
  <div id="player-container" style="display: flex;">
    <video id="video-player" width="640" height="360" controls>
      <source src="#" type="video/mp4">
    </video>
    <div class="multitrack-container">
      <div class="multitrack-ctl"></div>
      <div id="multitrack1" class="multitrack"></div>
    </div>
  </div>
</div>

<div class="result-container">
  <div id="player-container" style="display: flex;">
    <video id="video-player" width="640" height="360" controls>
      <source src="#" type="video/mp4">
    </video>
    <div class="multitrack-container">
      <div class="multitrack-ctl"></div>
      <div id="multitrack2" class="multitrack"></div>
    </div>
  </div>
</div> -->

<script src="static/js/ejs.min.js"></script>
<script src="static/js/ejs.js"></script>
<script>
  var num_samples = 3;
  const trackNames = [[0, "G5ERdrjBe40", "Pop Ballad"], [1, "fdcJEKh6jFw", "Pop Ballad"], [2, "f-BzUepNeZw", "Bossa Nova"], [3, "rRFDUclCpvU", "Pop Acoustic"], [4, "AgFeZr5ptV8", "US/UK"], [5, "dbiqR8dkITI", "EDM"], [6, "V1ah6tmNUz8", "EDM"], [7, "tOS41n0-JBs", "Rock"], [8, "SeejJrinv3Y", "Bolero"], [9, "jhln5b4wOfI", "Contemporary folk"], [10, "4F4fPTxs7w8", "Postcad"], [11, "UVbv-PJXm14", "Rap/Hiphop"], [12, "86tDEt7IH40", "Rap/Hiphop"]]
  html = ejs.render(
`
    <% trackNames.forEach(function(trackName){ %>
      <div class="result-container">

        <img src="static/images/disc.png" class="song-icon"> Song #<%=trackName[0]+1%> - <%=trackName[2]%></img>
        <div style="width: 100%;display: flex;justify-content: center; margin-bottom: 10px;">
          <div class="audio-container" style="margin: 2em 0;">
            <div class="buttons" style="justify-content: space-around;">
              <span class="play-btn btn play">
                <i class="fas fa-play"></i>
                <i class="fas fa-pause"></i>
              </span>
              
              <span class="backward-btn btn backward">
                <i class="fas fa-backward" ></i>
              </span>
              <span class="forward-btn btn forward">
                <i class="fas fa-forward" ></i>
              </span>
              <span class="mute-btn btn" data-track-id="-1">
                <i class="fas fa-volume-up"></i>
                <i class="fas fa-volume-mute"></i>
              </span>
              <input
                  type="range"
                  min="0"
                  max="1"
                  step="0.1"
                  value="0.5"
                  class="volume-slider"
                  data-track-id="-1"
                />
            </div>
          </div>
        </div>
        <div class="label-container">
          <span class="dnerf">Mixture Input</span>
          <span class="dnerf">Multitrack Output</span>
        </div>
        <div id="player-container" style="display: flex;margin-bottom: 100px;">
          <video class="video-player" width="640" height="360" controls muted>
            <source src="static/videos/cut_<%=trackName[1]%>.mp4" type="video/mp4">
          </video>
          <div class="multitrack-container">
            <div class="multitrack-ctl"></div>
            <div id="multitrack<%=trackName[0]%>" class="multitrack"></div>
          </div>
        </div>
      </div>
    <% }); %>
    `,
    {trackNames: trackNames}
  );
  document.getElementById('containers').innerHTML = html

</script>

<!-- <section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title">BibTeX</h2>
    <pre><code>@article{eCMU,
  author       = {Quoc-Dung Tham, Duc-Dung Nguyen},
  title        = {eCMU: An Efficient Phase-aware Framework for Music Source Separation with Conformer},
  conference   = {Research, Innovation and Vision for the Future (RIVF)},
  year         = {2023},
}</code></pre>
  </div> -->
</section>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <a class="icon-link"
         href="#">
        <i class="fas fa-file-pdf"></i>
      </a>
      <a class="icon-link" href="#" class="external-link" disabled>
        <i class="fab fa-github"></i>
      </a>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content" style="text-align: center;">
          <p>
            This page presents the qualitative result of our research on real-world samples regarding the Music Source Separation problem.
          </p>
          <p>
            Developed by Dung Tham based on <a href="https://github.com/nerfies/nerfies.github.io"> Nerfies</a>'s template.
          </p>
          <p>
            Especially thank Nam Le for supporting me with the UI.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.esm.js"></script>
<script src="https://unpkg.com/wavesurfer-multitrack/dist/multitrack.min.js"></script>
<!-- <script src="static/js/loader.js"></script> -->
<script src="static/js/multitrack2.js"></script>

</body>
</html>
